{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <!-- A page describing the project -->
    <p>
       This is a web app that has been created to answer the research question:
    </p>
    <p>
       Does mobile phone app usage affect mental health over time?
    </p>
    <p>
        This project has been part of an MSc in Computing and Technology at Northumbria University London Campus. Supervised by H. Baajour. Created by Z. Sherlock.
    </p>

{% endblock %}